body {
    margin: 0;
}

/* blauwe menubalk boven */
#headerCont {
    width: 100%;
    position: fixed;
    z-index: 1000px;
    top: 0px;
}

#header {
    background-color: #3D8CA5;
    height: 60px;
    display: flex;
    margin: 0px auto;
}

#closeIcon {
    width: 30px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: -45px;
}

#logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#shareBtn {
    width: 40px;
    margin-top: 8px;
    margin-right: 15px;
}

/* registreren */
#registreren {
    font-family: "Futura";
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 2em;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
}

#login {
    font-family: "Open Sans";
    display: block;
    font-size: 0.8em;
    color: #3D8CA5;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 20px;
}

#fb {
    width: 90%;
    margin-top: 20px;
}

#fbCont {
    text-align: center;
}

#of {
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    color: #515151;
    margin-top: 10px;
}

/* registratieformulier */
.register {
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #3D8CA5;
    width: 90%;
    padding-bottom: 5px;
}

#gebruikersnaam {
    margin-top: -20px;
}

#submit {
    background-color: #E8920C;
    border: none;
    font-family: "Futura";
    font-size: 1.5em;
    text-align: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    color: white;
    text-shadow: 0.5px 0.5px 5px black;
}

#accept {
    font-family: "Roboto";
    font-size: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
}

#av {
    color: #3D8CA5;
    text-decoration: none;
}

#pp {
    color: #3D8CA5;
    text-decoration: none;
}

/* login */



