body {
    margin: 0;
}

/* blauwe menubalk boven */
#headerCont {
    width: 100%;
    position: fixed;
    z-index: 1000px;
    top: 0px;
}

#header {
    background-color: #3D8CA5;
    height: 60px;
    display: flex;
    margin: 0px auto;
}

#closeIcon {
    width: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

#logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

#checkIcon {
    width: 40px;
    margin-top: 8px;
    margin-right: 15px;
}

/* witte menubalk onder */

#footerCont {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#footer {
    opacity: 0.9;
    height: 60px;
    display: flex;
    margin: 0px auto;
    border-top: 1px solid #AFAFAF;
    background-color: white;
}

.footerIcon {
    width: 50px;
}

.footerLink {
    margin-left: auto;
    margin-right: auto;
}

/* instellingen titel */
#instellingen {
    font-family: "Futura";
    margin-top: 80px;
    margin-left: 20px;
    font-weight: normal;
    font-size: 2em;
}

.subtitel {
    font-family: "Futura";
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #D1D1D1;;
}

#welkom {
    font-family: "Futura";
    font-weight: normal;
    color: #919191;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #D1D1D1;;
    padding-bottom: 10px;
    font-size: 0.8em;
}

.link {
    font-family: "Futura";
    color: #3D8CA5;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    font-size: 0.8em;
}

#info {
    margin-top: 40px;
}

#meldingen {
    margin-top: 40px;
    margin-bottom: 100px;
}

#accountSubtitel {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#infoSubtitel {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#meldingenSubtitel {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* wijzig account */
.next {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
}

.wijzig {
    font-family: "Open Sans";
    color: #4E4F4F;
    font-size: 0.9em;
}

.wijzigLink {
    text-decoration: none;
    display: flex;
    border-bottom: 1px solid #D1D1D1;
}

#wijzigAlles {
    margin-top: 50px;
    border-top: 1px solid #D1D1D1;
    margin-left: 20px;
    margin-right: 20px;
}

#username {
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #3D8CA5;
    width: 90%;
    padding-bottom: 5px;
}

#email {
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #3D8CA5;
    width: 90%;
    padding-bottom: 5px;
}

.ww {
    margin-left: 20px;
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #3D8CA5;
    width: 90%;
    padding-bottom: 5px;
}

#Wachtwoord {
    margin-bottom: 30px;
}

#avatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#labelAvatar {
    font-size: 1.25em;
    color: white;
    background-color: #CCCCCC;
    background-image: url("../images/uploadIcon.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#avatarCont {
    text-align: center;
}

#verwijder {
    margin-left: 20px;
    border: none;
    background-color: transparent;
    font-family: "Open Sans";
    color: #3D8CA5;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
}

#wijzigen {
    margin-left: 20px;
    border: none;
    background-color: transparent;
    font-family: "Open Sans";
    color: #3D8CA5;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: 40px;
}

#vaarwel {
    font-family: "Open Sans";
    margin-left: 20px;
    margin-right: 20px;
    color: #414242;
}



